body,#root{
  background-color: aliceblue;
  margin: 0 0;
  height: 100vh;
}
.container{
  height: 100%;
}
.login {
  position: relative;
  width: 40%;
  margin: 0 auto;
}

.middle-page {
  margin-top: 50vh;
}

.login-logo {
  margin: auto;
  position: absolute;
  z-index: 2;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.login-logo>img{
  max-width: 96px;
}
.input-user {
  margin: 0 auto;
  padding: 10vh 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.input-user input {
  width: 70%;
  margin: 2vh 0;
  border-radius: 10px;
  padding: 10px 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-color: rgba(239, 108, 0, 0.5);
}

.button-login{
  /* margin:15px 0 0 0; */
  margin: auto;
  width: 70%;
}
.button-login>button{
  background: rgba(239, 108, 0, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(239, 108, 0, 0.3);
  padding: 10px 32px;
  color: #757575;
  width: 100%;
  margin-top: 20px;
}
.button-login>button:hover{
  background-color: rgba(239, 108, 0, 0.5);
  color:whitesmoke;
}
.text-signUp{
  color: #757575;
  margin-top: 15px;
}
.text-signUp span{
  font-size:14px;
  padding: 0 5px;
  text-decoration: underline;
}
.text-signUp span:hover{
  text-decoration-color: rgba(239, 108, 0, 0.5);
  color:rgba(239, 108, 0, 0.5);;
}
/* .input-user>input:hover,.input-user>input:active,.input-user>input:focus{
  border-color: rgba(239, 108, 0, 0.5);
} */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}